@import "../../styles/variables.module";
.roadMapContainer {
  background-image: url("../../public/assets/images/4/bg.png");
  text-align: center;
  padding-right: 9rem;
  padding-left: 9rem;
  padding-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  .roadMapHeader {
    padding: 0 25rem;
    .roadMaptitle {
      font-size: $font-size-page-header;
      font-family: $font-family-zuume-cut;
    }
    .roadMapText {
      margin-top: 5rem;
      font-family: $font-family-gotham;
      font-size: $font-size-text;
      font-weight: $font-weight-bold;
    }
  }
}
