@import url("http://fonts.cdnfonts.com/css/gotham");
@import url("http://fonts.cdnfonts.com/css/monument-extended");
@import url("http://fonts.cdnfonts.com/css/babell");
// Colors
$white: #fff !default;
$aqua: #1ae8f0 !default;
$dark-violet: #191033 !default;

// Typography
$font-family-gotham: "Gotham", sans-serif !default;
$font-family-monument: "Monument Extended", sans-serif !default;
$font-family-zuume-cut: "BABELL BOLD", sans-serif;

$font-size-head: 20px;
$font-size-text: 18px;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-smaller: 12px;
$font-size-phase-title-text: 50px;
$font-size-big-sol-fennex: 292px;
$font-size-page-header: 172px;
$font-size-road-map-bleu-title: 87px;

$font-size-base: 1rem !default;

$line-height-base: 1.5 !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-strong: 500 !default;
$font-weight-bold: 700 !default;

$font-weight-base: $font-weight-normal !default;

// Main Styles
$body-bg: $white !default;
